---
import ExperiencieItem from "./ExperiencieItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Analista de Sistemas",
    company: "OST Security Technology",
    description:
      "En proceso......",
    // link: "#",
  },
  {
    date: "Enero 2023 - Enero 2024",
    title: "Consultor Tecnico 1",
    company: "HCC Consulting S.A.C",
    description:
      "Desarrollé interfaces de usuario eficientes y responsivas utilizando HTML5, CSS3, JavaScript y NodeJS, además de implementar y configurar servidores en Amazon Web Services (AWS) para garantizar la escalabilidad y el rendimiento óptimo de las aplicaciones. También realicé consultas avanzadas y gestioné bases de datos relacionales con SQL para el análisis de grandes volúmenes de datos, y participé activamente en la planificación y análisis de proyectos, colaborando con equipos multidisciplinarios para definir requisitos, optimizar flujos de trabajo y supervisar el progreso de los entregables.",
  },
  {
    date: "Agosto 2022 - Diciembre 2022",
    title: "Asistente informatico",
    company: "Red de Salud Huaylas Norte",
    description:
      "Durante mi pasantía, apoyé procesos administrativos, optimicé flujos de trabajo y mejoré la organización documental mediante el uso de tecnología. Implementé soluciones de automatización, digitalicé archivos y administré bases de datos, garantizando la seguridad de la información. Utilicé Microsoft Office, sistemas internos y habilidades de gestión de proyectos, contribuyendo a la eficiencia organizacional.",
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperiencieItem {...experiencie} />
      </li>
    ))
  }
</ol>
