---
import ScrollingIcons from './ScrollingIcons.astro';
import ReactJS from './icons/ReactJS.astro';
import Tailwind from './icons/Tailwind.astro';
import Mysql from './icons/Mysql.astro';
import NodeJS from './icons/NodeJS.astro';
import GitHub from './icons/GitHub.astro';
import Figma from './icons/Figma.astro';
import Html from './icons/Html.astro'
import JavaScript from './icons/JavaScript.astro';
import CSS from './icons/CSS.astro';
import Botstrap from './icons/Botstrap.astro'

const icons = [
  Html,
  CSS,
  JavaScript, 
  Tailwind,
  Botstrap,
  ReactJS,
  Mysql,
  NodeJS,
  Figma,
  GitHub,
];
---
<div>
  <ScrollingIcons icons={icons} />
</div>